<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ronaker.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <uses-feature

        android:glEsVersion="0x00020000"

        android:required="true" />

    <!--    android:networkSecurityConfig="@xml/network_security_config"-->
    <application
        android:name=".General"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:supportsRtl">

        <!--        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute,LockedOrientationActivity"-->

        <!--        <meta-data-->
        <!--            android:name="firebase_crashlytics_collection_enabled"-->
        <!--            android:value="false" />-->

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            tools:node="remove" />

        <meta-data
            android:name="com.ronaker.app.injection.module.CustomGlideModule"
            android:value="AppGlideModule" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_api_key" />




        <activity
            android:name=".ui.orderCreate.OrderCreateActivity"
            android:launchMode="singleTask"

            android:screenOrientation="portrait"
            android:theme="@style/PopTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">

        </activity>


        <activity
            android:name=".ui.profileAuthorization.ProfileAuthorizationActivity"
            android:launchMode="singleTask"

            android:screenOrientation="portrait"
            android:theme="@style/phoneNumberTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">

        </activity>




        <activity
            android:name=".ui.manageProduct.ManageProductActivity"
            android:launchMode="singleTask"

            android:screenOrientation="portrait"
            android:theme="@style/PopTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden">

        </activity>


        <activity android:name=".ui.pdfViewer.PdfViewerActivity"
            android:launchMode="singleTask"

            android:screenOrientation="portrait"
            android:theme="@style/PopTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"


            />


        <activity
            android:name=".ui.profilePayment.ProfilePaymentActivity"
            android:launchMode="singleTask"

            android:screenOrientation="portrait"
            android:theme="@style/PopTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">

        </activity>

        <activity
            android:name=".ui.profileCompleteEdit.ProfileCompleteActivity"
            android:launchMode="singleTask"

            android:screenOrientation="portrait"
            android:theme="@style/PopTheme"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>

        <activity
            android:name=".ui.orderPreview.OrderPreviewActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/PopTheme"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>

        <activity
            android:name=".ui.profilePaymentList.ProfilePaymentListActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/PopTheme"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>

        <activity
            android:name=".ui.profileNameEdit.ProfileNameEditActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/PopTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">

        </activity>

        <activity
            android:name=".ui.exploreProduct.ExploreProductActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/PopTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">

        </activity>




        <activity
            android:name=".ui.container.ContainerActivity"

            android:screenOrientation="portrait"
            android:theme="@style/PopTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">

        </activity>


        <activity
            android:name=".ui.profileEmailEdit.ProfileEmailEditActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/PopTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">

        </activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateHidden">

        </activity>

        <activity
            android:name=".ui.loginForget.LoginForgetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginForgetTheme"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateHidden">



            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="api.ronaker.com"
                    android:pathPrefix="/api/v1/users/email-reset"
                    android:scheme="https" />
            </intent-filter>


        </activity>



        <activity
            android:name=".ui.orderAuthorization.OrderAuthorizationActivity"

            android:launchMode="singleTask"

            android:screenOrientation="portrait"
            android:theme="@style/phoneNumberTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">

        </activity>


        <activity
            android:name=".ui.search.SearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SearchTheme"
            android:windowSoftInputMode="stateAlwaysVisible" />

        <activity
            android:name=".ui.dashboard.DashboardActivity"

            android:screenOrientation="portrait"
            android:theme="@style/DashboardTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


            <!-- ronaker://product/RncWkrhjT3BFPkHjMNueoR -->
            <!-- ronaker.test-app.link/product/RncWkrhjT3BFPkHjMNueoR -->

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ronaker.com"
                    android:pathPrefix="/product"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.ronaker.com"
                    android:pathPrefix="/product"
                    android:scheme="https" />
            </intent-filter>


            <!-- Branch URI scheme -->
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="ronaker" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ronaker.app.link"
                    android:scheme="https" />
            </intent-filter>


            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "ronaker://product” -->
                <data
                    android:host="product"
                    android:scheme="ronaker" />
            </intent-filter>

        </activity>
        <!--        <activity-->
        <!--            android:name=".ui.exploreProduct.ExploreProductActivity"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/ProductPreviewTheme"-->
        <!--            android:windowSoftInputMode="stateAlwaysHidden" />-->

        <activity
            android:name=".ui.profilePaymentHistoryList.ProfilePaymentHistoryListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/PopTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".ui.orderAccept.OrderAcceptActivity"
            android:launchMode="singleTask"

            android:screenOrientation="portrait"
            android:theme="@style/PopTheme"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name=".ui.profileEdit.ProfileEditActivity"
            android:launchMode="singleTask"

            android:screenOrientation="portrait"
            android:theme="@style/PopTheme"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name=".ui.profileSetting.ProfileSettingActivity"
            android:launchMode="singleTask"

            android:screenOrientation="portrait"
            android:theme="@style/PopTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.profileImage.ProfileImageActivity"
            android:launchMode="singleTask"

            android:screenOrientation="portrait"
            android:theme="@style/PopTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".ui.orderStartRenting.OrderStartRentingActivity"
            android:launchMode="singleTask"

            android:screenOrientation="portrait"
            android:theme="@style/PopTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.orderFinish.OrderFinishActivity"
            android:launchMode="singleTask"

            android:screenOrientation="portrait"
            android:theme="@style/PopTheme"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name=".ui.productRate.ProductRateActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"

            android:theme="@style/PopTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.orderDecline.OrderDeclineActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"

            android:theme="@style/PopTheme"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name=".ui.productSaved.ProductSavedActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"

            android:theme="@style/PopTheme"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name=".ui.profileEmailVerify.ProfileEmailVerifyActivity"
            android:launchMode="singleTask"

            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.orderCancel.OrderCancelActivity"
            android:launchMode="singleTask"

            android:screenOrientation="portrait"
            android:theme="@style/PopTheme"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name=".ui.addProduct.AddProductActivity"
            android:launchMode="singleTask"

            android:screenOrientation="portrait"
            android:theme="@style/PopTheme"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name=".ui.profileIdentify.ProfileIdentifyActivity"
            android:launchMode="singleTask"

            android:screenOrientation="portrait"
            android:theme="@style/PopTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".ui.phoneNumberValidation.PhoneNumberActivity"
            android:launchMode="singleTask"

            android:screenOrientation="portrait"
            android:theme="@style/phoneNumberTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".ui.imagePicker.ImagePickerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateAlwaysHidden">


        </activity>

        <!-- uCrop cropping activity -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"

            android:theme="@style/AppTheme.UCrop" />


        <!-- cache directory file provider paths -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <!-- Branch init -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_pnSHm0Vi1768h8kzrkl3ciacqCm89MHa" />
        <!-- Branch testing (TestMode "true" to simulate fresh installs on dev environment) -->
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="true" />


        <!--        &lt;!&ndash; Branch install referrer tracking &ndash;&gt;-->
        <!--        <receiver android:name="io.branch.referral.InstallListener"-->
        <!--            android:permission="android.permission.INSTALL_PACKAGES"-->
        <!--            android:exported="true">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="com.android.vending.INSTALL_REFERRER" />-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->


    </application>
</manifest>