<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.ronaker.app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature

            android:glEsVersion="0x00020000"

            android:required="true"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:name=".General"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">


        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="@string/google_api_key"/>


        <activity
                android:theme="@style/DashboardTheme"
                android:screenOrientation="portrait"
                android:name=".ui.post.PostListActivity">

        </activity>

        <activity
                android:theme="@style/DashboardTheme"
                android:screenOrientation="portrait"
                android:name=".ui.orderMessage.OrderMessageActivity">

        </activity>

        <activity
                android:screenOrientation="portrait"
                android:theme="@style/LoginTheme"
                android:windowSoftInputMode="adjustResize"
                android:name=".ui.login.LoginActivity">
        </activity>

        <activity
                android:theme="@style/DashboardTheme"
                android:screenOrientation="portrait"
                android:name=".ui.dashboard.DashboardActivity">
        </activity>
        <activity
                android:theme="@style/DashboardTheme"
                android:screenOrientation="portrait"
                android:name=".ui.exploreProduct.ExploreProductActivity">
        </activity>

        <activity
                android:theme="@style/DashboardTheme"
                android:screenOrientation="portrait"
                android:name=".ui.chackoutCalendar.CheckoutCalendarActivity">
        </activity>

        <activity
                android:theme="@style/DashboardTheme"
                android:screenOrientation="portrait"
                android:name=".ui.addProduct.AddProductActivity">
        </activity>

        <activity
                android:screenOrientation="portrait"
                android:theme="@style/phoneNumberTheme"

                android:name=".ui.phoneNumberValidation.PhoneNumberActivity">
        </activity>

        <activity
                android:screenOrientation="portrait"
                android:name=".ui.imagePicker.ImagePickerActivity">
        </activity>


        <activity
                android:screenOrientation="portrait"
                android:name=".ui.splash.SplashActivity"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>


        </activity>

        <!-- uCrop cropping activity -->
        <activity
                android:name="com.yalantis.ucrop.UCropActivity"
                android:screenOrientation="portrait"

                android:theme="@style/AppTheme.UCrop"/>



        <!-- cache directory file provider paths -->
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>



    </application>
</manifest>